In [1]:
import pandas as pd
truth = pd.read_csv('train_save_truth.csv', header=None)
pred = pd.read_csv('train_save_pred.csv', header=None)

In [2]:
truth = truth[0].tolist()
pred = pred[0].tolist()
correct = 0
not_correct = 0
for i in range(len(truth)):
  if pred[i] < 0.5:
    p = 0
  else:
    p = 1
  if p == truth[i]:
    correct += 1
  else:
    not_correct += 1
print(correct, not_correct)

144604 52423

In [3]:
train = pd.read_csv('assist2009/train_data.csv')
train.head()

,student_id,skill_id,skill_mastery,ability_profile,problem_difficulty,correctness,problems
0,2,83,0.563882,0,2,1,58827
1,2,82,0.742560,0,2,1,90443
2,2,82,0.844854,0,1,1,54214
3,2,37,0.606742,0,7,0,60018
4,2,37,0.608723,0,0,1,59987

In [4]:
train['ability_profile'].value_counts()

1    64990
2    38410
0    31680
5    23490
4    12378
3    11511
7     8504
6     6064
Name: ability_profile, dtype: int64

In [21]:
correct = train['correctness'].tolist()
same = 0
not_same = 0
for i in range(len(correct)):
  if correct[i] == truth[i]:
    same += 1
  else:
    not_same += 1
print(same, not_same)

130172 66855